<div class="dashboard-container">
    <nav>
      <div class="data-logo">
          <img src="../../assets/img/logo_credifamilia.png" alt="logo CREDIFAMILIA" class="logo-credifamilia">
      </div>
      <div class="botones">
        <button type="button" class="boton" (click)="logout()">LogOut</button>

      </div>
  </nav>
    <div class="contenedorcuerpo">
      <div class="textCuerpo">
        <p>Informacion de los clientes</p>
      </div>
      <div *ngIf="clientes && clientes.length > 0">
        <table class="table">
          <thead class="table-head">
            <tr>
              <th>Id</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Fecha nacimiento</th>
              <th>Estado</th>
              <th>Ciudad</th>
              <th>Ocupacion</th>
              <th>viavilidad</th>
              <th>Editar</th>
              <th>Activar/Inactivar</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let cliente of clientes">
              <td>{{cliente.numIdentCliente}}</td>
              <td>{{ cliente.nombresCliente }}</td>
              <td>{{ cliente.apellidosCliente }}</td>
              <td>{{ cliente.correoCliente }}</td>
              <td>{{ cliente.telefonoCliente }}</td>
              <td>{{ cliente.fechaNacimientoCliente }}</td>
              <td>{{ cliente.estadoCliente === 1 ? 'Activo' : (cliente.estadoCliente === 0 ? 'Inactivo' : 'Undefined') }}</td>
              <td>{{ ciudadMap[cliente.idCiudadFK] }}</td>
              <td>{{ ocupacionMap[cliente.idOcupacionFK] }}</td>
              <td>{{ cliente.clienteEsViable  === 1 ? 'Viable' : (cliente.clienteEsViable === 0 ? 'No viable' : 'Undefined') }}</td>
              <td><button type="button" (click)="formularioCliente(cliente.numIdentCliente)">Editar</button></td>
              <td>
                <button type="button" (click)="estadoCliente( cliente.numIdentCliente,cliente.estadoCliente)">
                    {{ cliente.estadoCliente === 1 ? 'Activo' : (cliente.estadoCliente === 0 ? 'Inactivo' : 'Undefined') }}
                </button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!clientes || clientes.length === 0">
        <p>No hay clientes disponibles.</p>
      </div>
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
  