

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dashboard-container{
    min-height: 100vh;
    margin: 8px;
    margin-top: 8px;
}

nav{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    margin-bottom: 35px;
    box-shadow: 2px 2px 18px rgb(192, 190, 190);
}
nav img{
    width: 200px;
    height: 80px;
    margin-left: 30px;
}
nav .botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-right: 40px;
}

.boton{
    height: 40px;
    padding: 12px;
    border: none;
    background-color: transparent;
    color: #47AA42;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover{
    border: solid 1px rgb(240, 240, 240);
    border-radius: 1rem;
    cursor: pointer;
    background: #f3f3f3;
}
footer{
    margin-top: 20rem;
}


h1{
    color: #f1eeee;
    margin: 0;
}

.contenedorcuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.contenedorcuerpo > .textCuerpo{
    text-align: left;
    padding: 0 5px;
    font-size: 25px;
}

/* Estilo para la tabla */
.table {
    width: 95vw;
    border-collapse: collapse;
    margin-top: 40px;
    font-weight: bold;
  }
  
  /* Estilo para las celdas de encabezado */
  .table-head th {

    background-color: #41a044;
    padding: 10px;
    text-align: left;
    border: 2px solid #ddd;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000;
  }
  
  /* Estilo para las celdas de cuerpo */
  .table-body td {
    padding: 10px;
    text-align: left;
    font-size: 18px;
    border: 2px solid #ddd;
    color: #282828;
  }
  
  /* Alternar colores de fondo para las filas */
  .table-body tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilo para los botones en las celdas de cuerpo */
  .table-body button {
    padding: 5px 10px;
    background-color: #41a044;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 20px;
  }
  
/* Estilo para los botones de activar/inactivar */
.table-body button.inactive {
  background-color: #cd372d;
  color: white; /* Add this line to make text visible on red background */
  box-shadow: 2px 2px 2px #000;
}

.table-body button.active {
  background-color: #41a044;
  color: white; /* Add this line to make text visible on green background */
  box-shadow: 2px 2px 2px #000;

}
  
  /* Estilo para los botones de editar */
  .table-body button.edit {
    background-color: transparent;
  }



.textCuerpo > p{
  font-size: 45px;
  color: #47AA42;
  text-shadow: 4px 4px 8px #606060;

} 

.img-editar{
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: cover;


}

/* Estilo para los botones de activar/inactivar */
.table-body button.inactive:hover {
  background-color: #a61f15;
}

.table-body button.active:hover {
  background-color: #207823;


}
.search-container input{
  height: 40px;
  width: 18rem;
  font-size: 20px;
  border: 3px solid #000;
}

.search-container{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
  margin-bottom: -28px;

}
.text-search{
  font-size: 25px;
  color: #47AA42;
}


.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  background-color: #47AA42;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.pagination-controls button:hover {
  background-color: #368b37;
}





