*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dashboard-container{
    min-height: 100vh;
    margin: 8px;
    margin-top: 8px;
}


nav{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    margin-bottom: 35px;
    box-shadow: 2px 2px 18px rgb(192, 190, 190);
}
nav img{
    width: 200px;
    height: 80px;
    margin-left: 30px;
}
nav .botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-right: 40px;
}

.boton{
    height: 40px;
    padding: 12px;
    border: none;
    background-color: transparent;
    color: #47AA42;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover{
    border: solid 1px rgb(240, 240, 240);
    border-radius: 1rem;
    cursor: pointer;
    background: #f3f3f3;
}
footer{
    margin-top: 50rem;
}


h1{
    color: #f1eeee;
    margin: 0;
}

.contenedorcuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.contenedorcuerpo > .textCuerpo{
    text-align: left;
    padding: 0 5px;
    font-size: 25px;
}

.logoIni{
    width: auto;
    height: 5rem;
}

.imgPikachu{
    width: auto;
    height: 30rem;  
}